# Ignore data directory and its contents
data/

# Ignore large media files
*.zip
*.jpeg
*.png

# Ignore Python virtual environments
venv/
.Venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.bak
.DS_Store

# Ignore data directories and images
data/
*.jpeg
*.png

